.box {
	margin-right: 11%!important;
}

@media only screen and (max-width:1500px) {
	.box {
		margin-right: 10%!important;
	}
}

@media only screen and (max-width:1000px) {
	.box {
		margin-right: 8%!important;
	}
}

@media only screen and (max-width:650px) {
	.box {
		margin-right: 0%!important;
	}
}

code,pre {
	font-family: 'SF Mono',Menlo,Courier New,sans-serif;
}

code {
	padding: 3px 5px 2px 5px;
	margin: 5px;
	color: rgba(180,25,72,1);
	background-color: rgba(244,244,244,0.8);
	border-radius: 3px;
	text-shadow: none;
	font-size: 12px;
	width: 100%;
}

pre > code {
	white-space: pre;
	background-color: transparent;
}

code,pre {
	font-family: 'SF Mono',Menlo,Courier New,sans-serif;
}

code {
	padding: 3px 5px 2px 5px;
	margin: 5px;
	color: rgba(180,25,72,1);
	background-color: rgba(244,244,244,0.8);
	border-radius: 3px;
	text-shadow: none;
	font-size: 12px;
}

pre {
	overflow: auto;
	font-size: 12px;
	font-family: Consolas,Menlo,Monaco,"Courier New",sans-serif;
	font-weight: 400;
	max-width: 100%;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 1.42857143;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	border: none;
	border-radius: 4px;
	word-wrap: normal;
	-webkit-overflow-scrolling: touch;
}

#comments {
	font-size: 14px;
	margin-top: 0;
	word-wrap: break-word;
}

.comment-list,.comment-list ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list li {
	margin: 20px 0;
}

.comment-list li .comment-reply {
	float: right;
	margin-top: -30px;
	font-size: 95%;
}

.comment-author {
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
}

.comment-author .avatar {
	padding: 0;
	margin: 0 10px 0 0;
	float: left;
	width: 48px;
	height: 48px;
	border: 1px solid #e6e6e6;
	border-radius: 100%;
}

.comment-meta cite {
	font-weight: 500;
	font-style: normal;
	font-size: 15px;
}

.comment-meta a {
	text-decoration: none;
}

.comment-child {
	padding-left: 15px;
}

.comment-reply a {
	text-decoration: none;
}

.comment-form {
	color: rgba(255,255,255,.71) !important;
	position: relative;
	background-color: rgba(0,0,0,.25)!important;
	width: 100%;
	margin: 3em 0;
	padding: 0.75em 1.2875em;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.comment-form .form-control {
	display: block;
	width: 100%;
	height: 2.5rem;
	color: #fff;
	padding: 20px!important;
	background-color: rgba(0,0,0,.25);
	font-size: inherit;
	font-family: inherit;
	border: none;
	border-radius: 15px;
	line-height: inherit;
}

.comment-form .form-control:focus {
	outline: 0;
}

.comment-form textarea.form-control {
	background-color: rgba(0,0,0,.25)!important;
	margin-bottom: 5px;
	padding: 0.5em 0;
	height: 9rem;
	border-radius: 15px;
	padding: 20px;
	width: 100%;
	border: none;
	border-radius: 15px;
	resize: none;
	background-position: 87% 100%;
	background-repeat: no-repeat;
}

.comment-form #misubmit {
	position: absolute;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	right: 30px;
	bottom: 25px;
	padding: 7.5px 7px;
	color: #fff;
	background-color: rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	border-radius: 3px;
}

.comment-form #cancel-comment-reply-link {
	position: absolute;
	right: 80px;
	bottom: 25px;
	padding: 3px 5px;
	color: inherit;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	border-radius: 3px;
}

.comment-form #cancel-comment-reply-link:hover {
	text-decoration: none;
}

article .catui-pic {
	max-height: 550px!important;
}

.cardw img {
	width: 100%;
}

a {
	outline: none;
}

article .catui-pic {
	max-height: 400px;
	overflow: hidden;
	display: inline-block;
	border-radius: 15px;
}

article .catui-pic-3 p {
	width: calc(33.333333333333336% - 13.333333333333334px)
}

article .catui-pic-3 p {
	float: left;
	margin-right: 20px!important;
	margin-top: 0!important
}

article .catui-pic-3 img {
	object-fit: cover
}

article .catui-pic-3 p:after {
	content: attr(title);
	position: absolute;
	bottom: 0;
	padding: 10px;
	color: #fff;
	right: 0;
	max-width: 100%;
	box-sizing: border-box;
	word-wrap: break-word;
	pointer-events: none
}

article .catui-pic-3 p:nth-child(3n+3) {
	margin-right: 0!important
}

article .catui-pic-3 {
	margin-bottom: -20px
}

article .catui-pic-3::after {
	content: "";
	clear: both;
	display: block
}

.catui-page a {
	margin-right: 5px;
	background-color: #f4f4f5;
	min-width: 36px;
	min-height: 36px;
	height: 36px;
	width: 36px;
	max-width: 36px;
	border-radius: 100%;
	padding: 0;
	border: none;
	z-index: 1;
}